In [1]:
%quickref

In [3]:
%matplotlib inline

In [1]:
#Tuples-is a fixed-length,immutable sequence of python objects
tup = 4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
# it necessary to enclose the values in parenthesis when defining more complicated expressions
nested_tup = (4,5,6),(7,8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
#you can convert any sequence or iterator to a tuple by invoking a tuple
tuple([4,0,2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
#elements can be accessed with square brackets[] as with other sequence types
tup[0]

's'

In [9]:
#if an object is mutable,such as list,you can modify it
tup[1].append(3)

AttributeError: 'str' object has no attribute 'append'

In [10]:
#you can concatenate i.e link together using the +operator to produce longer tuples
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [11]:
#multiplying atuple with an integer concanates many copies of the tuple
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [12]:
#Unpacking tuples
#this happens when you try to assign to a tuple like expression of variables,python will attempt to unpack the value on the righthand side of the equal sign
tup = (4,5,6)

In [13]:
a,b,c = tup

In [14]:
b

5

In [15]:
#even sequences with nested tuples can be unpacked
tup = 4,5,(6,7)

In [16]:
a,b,(c,d) = tup

In [17]:
d

7

In [18]:
#you can use this functonality to swap variables
a,b = 1,2

In [19]:
a

1

In [20]:
b

2

In [21]:
b,a = a,b

In [22]:
a

2

In [23]:
b

1

In [24]:
# A very common use of variable unpacking is iterating over sequences of tuples or lists
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [25]:
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [26]:
#for plucking elements from the beginning of a tuple,we use the special syntax*rest
values = 1,2,3,4,5

In [27]:
a,b,*rest = values

In [28]:
a,b

(1, 2)

In [29]:
rest

[3, 4, 5]

In [30]:
#Tuple methods-a useful found in lists is count
a = (1,2,2,2,3,4,2)

In [31]:
a.count(2)

4

In [32]:
#LIST-Are variable-length and their contents can be modified in place.They can be defined using square brackets[]or using the list type function
a_list = [2,3,7,None]

In [33]:
tup = ('foo','bar','baz')

In [34]:
b_list = list(tup)

In [35]:
b_list

['foo', 'bar', 'baz']

In [36]:
b_list[1] = 'peekaboo'

In [37]:
b_list

['foo', 'peekaboo', 'baz']

In [38]:
#list fuction is frequently used as a way to materialize an iterator or generator expression
gen = range(10)

In [39]:
gen

range(0, 10)

In [40]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
#Adding and removing elements
#elements can be appended to the end of the list with the append method
b_list.append('dwarf')

In [42]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [43]:
#You can use insert to insert an element at a specific location in the list
b_list.insert(1,'red')

In [44]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [45]:
#pop-removes and returns an element at a particular index
b_list.pop(2)

'peekaboo'

In [46]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [47]:
#remove can be used to remove elements by value,which locates the first such value and removes it from the last
b_list.append('foo')

In [48]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [49]:
b_list.remove('foo')

In [50]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [51]:
#check if a list contains a value using the in keyword
'dwarf' in b_list

True

In [52]:
#The keyword not can be used to negate in
'dwarf' not in b_list

False

In [53]:
#concatenating ang combining lists
#we can use the + operator
[4,None,'foo']+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [54]:
#if you have a lsit already defined, you can append multiple elements to it using the extend method
x = [4,None,'foo']

In [55]:
x.extend([7,8(2,3)])

TypeError: 'int' object is not callable

In [56]:
x.extend([7,8,(2,3)])

In [57]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [58]:
#sorting-you can sort a list in place by calling its sort function
a = [7,2,5,1,3]

In [59]:
a.sort()

In [60]:
a

[1, 2, 3, 5, 7]

In [61]:
#a collection of strings
b = ['saw','small','He','foxes','six']

In [62]:
b.sort(key=len)

In [63]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [64]:
#Binary search and maintaining a sorted list
#The built-in besect module implements binary search and insrtion into a sorted list
#bisect.bisect finds the location where an element should be inserted to keep it sorted
#bisect.insort inserts the element into that location
import bisect

In [65]:
c = [1,2,2,2,3,4,7]

In [66]:
bisect.bisect(c,2)

4

In [67]:
bisect.bisect(c,5)

6

In [68]:
bisect.insort(c,6)

In [69]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [70]:
#slicing-Slice notation in its basic form consists of start,stop passed to the indexing operator[]
seq = [7,2,3,7,5,6,0,1]

In [71]:
seq[1:5]

[2, 3, 7, 5]

In [72]:
#slices can also be assigned to with a sequence
seq[3:4] = [6:3]

SyntaxError: invalid syntax (<ipython-input-72-19b82e4ab9e2>, line 2)

In [73]:
seq[3:4]=[6,3]

In [74]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [75]:
#when start ir stop are ommitted
seq[:5]

[7, 2, 3, 6, 3]

In [76]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [77]:
#negative indices slice the square relative in the end
seq[-4:]

[5, 6, 0, 1]

In [78]:
seq[-6:-2]

[6, 3, 5, 6]